.selectize-control {
	height: 25px;
}

.selectize-input {
	line-height: 22px;
	padding: 0 4px;
	height: 25px;
	border: 1px solid #7A7A7A;
	border-radius: 0;
	color: black;
}

.selectize-input.dropdown-active  {
	border: 1px solid #7A7A7A;
	border-radius: 0;
	color: black;
}