.tooltipster-sidetip.tooltipster-KORA .tooltipster-box {
    border-radius: 5px;
    border: 1px solid #666;
    background: white;
}
.tooltipster-sidetip.tooltipster-KORA .tooltipster-content {
    color: black;
	font: 12px Arial;
}
.tooltipster-sidetip.tooltipster-KORA .tooltipster-arrow {
    height: 9px;
    margin-left: -9px;
    width: 18px;
}
.tooltipster-sidetip.tooltipster-KORA.tooltipster-left .tooltipster-arrow,
.tooltipster-sidetip.tooltipster-KORA.tooltipster-right .tooltipster-arrow {
    height: 18px;
    margin-left: 0;
    margin-top: -9px;
    width: 9px;
}
.tooltipster-sidetip.tooltipster-KORA .tooltipster-arrow-background {
    border: 9px solid transparent;
}
.tooltipster-sidetip.tooltipster-KORA.tooltipster-bottom .tooltipster-arrow-background {
    border-bottom-color: white;
    top: 1px;
}
.tooltipster-sidetip.tooltipster-KORA.tooltipster-left .tooltipster-arrow-background {
    border-left-color: white;
    left: -1px;
}
.tooltipster-sidetip.tooltipster-KORA.tooltipster-right .tooltipster-arrow-background {
    border-right-color: white;
    left: 1px;
}
.tooltipster-sidetip.tooltipster-KORA.tooltipster-top .tooltipster-arrow-background {
    border-top-color: white;
    top: -1px;
}
.tooltipster-sidetip.tooltipster-KORA .tooltipster-arrow-border {
    border: 9px solid transparent;
}
.tooltipster-sidetip.tooltipster-KORA.tooltipster-bottom .tooltipster-arrow-border {
    border-bottom-color: #666;
}
.tooltipster-sidetip.tooltipster-KORA.tooltipster-left .tooltipster-arrow-border {
    border-left-color: #666;
}
.tooltipster-sidetip.tooltipster-KORA.tooltipster-right .tooltipster-arrow-border {
    border-right-color: #666;
}
.tooltipster-sidetip.tooltipster-KORA.tooltipster-top .tooltipster-arrow-border {
    border-top-color: #666;
}
.tooltipster-sidetip.tooltipster-KORA.tooltipster-bottom .tooltipster-arrow-uncropped {
    top: -9px;
}
.tooltipster-sidetip.tooltipster-KORA.tooltipster-right .tooltipster-arrow-uncropped {
    left: -9px;
}